@model CreateFeatureRequest
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayouts/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">One Cikanlar Islemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni One Cikanlar Girisi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Title1">1.Basligi Giriniz</label>
								<input type="text" class="form-control" asp-for="Title1" id="Title1">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Title2">2.Basligi Giriniz</label>
								<input type="text" class="form-control" asp-for="Title2" id="Title2">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Title3">3.Basligi Giriniz</label>
								<input type="text" class="form-control" asp-for="Title3" id="Title3">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description1">1.Aciklamayi Giriniz</label>
								<input type="text" class="form-control" asp-for="Description1" id="Description1">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description2">2.Aciklamayi Giriniz</label>
								<input type="text" class="form-control" asp-for="Description2" id="Description2">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description3">3.Aciklamayi Giriniz</label>
								<input type="text" class="form-control" asp-for="Description3" id="Description3">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

