@model CreateBookingRequest
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayouts/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Rezervasyon Islemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Rezervasyon Girisi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="name">Ad Soyad</label>
								<input type="text" class="form-control" asp-for="Name" id="name">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="phone">Telefon</label>
								<input type="text" class="form-control" asp-for="Phone" id="phone">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="mail">Mail Adresi</label>
								<input type="email" class="form-control" asp-for="Mail" id="mail">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="PersonCount">Kisi Sayisi</label>
								<input type="number" class="form-control" asp-for="PersonCount" id="PersonCount">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Date">Tarih</label>
								<input type="date" class="form-control" asp-for="Date" id="Date">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

