@{
    Layout = null;
}
<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_AdminLayoutHeaderPartialComponent")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_AdminLayoutNavbarPartialComponent")
        @await Component.InvokeAsync("_AdminLayoutSidebarPartialComponent")
        <div class="main-panel">
            @RenderBody()
            @await Component.InvokeAsync("_AdminLayoutFooterPartialComponent")
        </div>
    </div>
</body>
@await Component.InvokeAsync("_AdminLayoutScriptPartialComponent")
</html>

