@model GenericSocialMediaDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayouts/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Sosyal Medya Islemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<input type="hidden" asp-for="Id" />
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Sosyal Medya Girisi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Title">Baslik Giriniz</label>
								<input type="text" class="form-control" asp-for="Title" id="Title">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Icon">Ikon Giriniz</label>
								<input type="text" class="form-control" asp-for="Icon" id="Icon">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Url">Link Giriniz</label>
								<input type="text" class="form-control" asp-for="Url" id="Url">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Guncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

