@model GenericProductDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayouts/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Urun Islemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<input type="hidden" asp-for="Id" />
					<div class="card">
						<div class="card-header">
							<div class="card-title">Urun Guncelleme Sayfasi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="name">Urun Adi</label>
								<input type="text" class="form-control" asp-for="Name" id="name">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="price">Urun Fiyati</label>
								<input type="text" class="form-control" asp-for="Price" id="price">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="imageurl">Urun Gorseli</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="imageurl">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label asp-for="CategoryId">Kategori Seciniz</label>
								<select asp-for="CategoryId" asp-items="ViewBag.categories" class="form-control"></select>
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description">Urun Aciklamasi</label>
								<input type="text" class="form-control" asp-for="Description" id="description">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Guncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
